.container{
    display: flex;
    flex-grow: 1;
}

.list_info{
    flex-grow: 0.5;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.list_info a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.avatar{
    flex-grow: 1;
}
.avatar{
    text-align: center;
}
.wrap__info{
    flex-grow: 3;
}
.wrap__info{
    display: flex;
    flex-direction: column;
}
    .fullname{
        
    }
    .status{}
    .profile_info{}
