.container__main{
    flex-grow: 1;
}
.main__wrap{
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
}
/*________INFO_PHOTO_______*/
.container__info__photo{
    text-align: center;
    flex-basis: 25%;
    height: 400px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgb(228, 223, 223);
}
.container__info__photo:hover{
    transition: 450ms background ease;
    background: rgb(235, 231, 231);
}

.category{
    border: 1px solid black;
    flex-basis: 25%;
}