.container{
    flex-grow: 1;
    background:  rgb(248, 248, 248);
}
.profile{
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.profile__info{
    flex-basis: 25%;
    text-align: center;
    border-right: 1px solid rgb(204, 204, 204);
}

.profile__category{
    border-left: 1px solid rgb(204, 204, 204);
    flex-shrink: 1;
    flex-basis: 25%;
    padding: 0 15px;
}


