.container{
    min-width: 100%;
    padding-top: 5px;
}

.сontrolPanel{
    padding: 10px 0px 0px 5px;
    margin-bottom: 5px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.controlPanel__leftside{
    border: 1px solid rgb(180, 177, 177);
    border-radius: 5px;
    padding: 4px 4px 0;
    display: flex;
    justify-content: flex-start;
    flex-basis: 3%;
    justify-content: space-between;
}

.controlPanel__rightside{
    display: flex;
}

.rightside__search{
    display: flex;
    border:1px solid rgb(180, 177, 177);    
    border-radius: 20px;
    overflow: hidden;
    height: 25px;
    width: 100%;
}
.rightside__search input:focus{
    outline: none;
}

.rightside__search input{
    flex-grow: 1;
    text-align: center;
    border: none;
    font-size: 15px;
}

.rightside__search img{
    padding:3px;
}


.listUsers{
    display: flex;
    flex-wrap: wrap;
}
.listUsers_wrap{
    margin: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.listUsers__user img{
    border-radius: 50%;
}
.listUsers__user:hover{
    transition: 450ms background ease;
    background: rgb(235, 231, 231);
}
.listUsers__user {
    border: 1px solid rgb(228, 223, 223);
    box-shadow: 1px 1px 50px rgb(228, 223, 223);
    flex-basis: 50%;
    box-sizing: border-box;
    padding: 25px;
}
.listUsers__user a{
    text-decoration: none;
    color: black;
}
.new_width {
    flex-basis: 25%;
    transition: 0.5s flex-basis ease;    
}

.buttonFollow{
    padding: 7px;
    background: rgb(18, 116, 18);
    color:white;
    border:none;
}

.buttonUnfollow{
    padding: 7px;
    background: rgb(233, 119, 99);
    color: white;
    border: none;
}
.buttonUnfollow:disabled{
    background: rgb(177, 175, 175);
    color: grey;
    border: none;
}
.buttonFollow:disabled{
    background: rgb(177, 175, 175);
    color: grey;
    border: none;
}

