.container__posts{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 10px;
    flex-basis: 60%;
}

.post{
    box-sizing: border-box;
    padding: 10px;
    justify-content: space-between;
    flex-grow: 1;
    max-height: 30%;
    display: flex;
    flex-direction: column;
}

.date{
    align-self: flex-start;
}



