.header{
    flex-grow: 0;
    flex-shrink: 0;
    border-bottom: 2px solid rgb(233, 232, 232);
    flex-basis: 45px;
    display: flex;
    /* background: #eb6d4a; */
    background: rgb(41, 40, 40);
    color:white;
}

.container{
    max-width: 90%;
    min-width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.nav{
    flex-basis: 25%;
    display: flex;
    justify-content: space-around;
    margin: auto 0;
}

.nav a{
    text-decoration: none;
    color:white;
    font-size: 13px;
    font-weight: 900;
}
