@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html,body{
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

#root{
    height: 100%;
}

.Toastify__toast-container {
    width: 320px;
  }
  .Toastify__toast--default {
      background: #fff;
      color: #aaa;
   }
    .Toastify__toast--info {
      background: #3498db;
   }
    .Toastify__toast--success {
      background: #07bc0c;
   }
    .Toastify__toast--warning {
      background: #f1c40f;
   }
    .Toastify__toast--error {
      background: #e74c3c;
   }