.pagePanel{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    max-width: 380px;
    min-width: 380px;
}

.pagePanel div{
    cursor: pointer;
    box-sizing: border-box;
    padding: 10px 0;
}

.pagePanel div:hover{
}

.left{
}
.right{
}