.pagePanel{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.pagePanel div{
    border: 0.1px solid rgb(238, 237, 237);
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    text-align:center;
    color: #446699;
    margin-left: 3px;
    padding:4px;
}

.pagePanel div:hover{
    background: rgb(233, 233, 233);
}

.current{
    background: rgb(233, 233, 233);
}

.select{
    display: flex;
}
.select select{
    border: none;
    background-color: white;
    outline: none;
    color:#446699;
}
