.status{
    color: slategrey;
    padding: 5px;
}
.status_input{
    border:none;
    outline: none;
    font-size: 14px;
    text-align: center;
    background: rgb(235, 231, 231);
    padding: 5px;
}
