.status{
    padding: 5px;
    background: rgb(235, 231, 231);
}
.status_input{
    width: 100%;
    border:none;
    outline: none;
    font-size: 14px;
    text-align: center;
    background: rgb(235, 231, 231);
    padding: 5px;
}
